@import "~vuetify/src/styles/settings/_variables.scss";
@import "@/assets/css/main.scss";

.v-btn.btn-light {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 11.54 * $chat-text-size;
    color: black;
    background-color: white !important;
    border: 1px solid black;
    border-radius: $chat-button-height / 2;
    min-height: 0;
    height: $chat-button-height !important;
    margin-top: $chat-standard-padding-xs;
    margin-bottom: $chat-standard-padding-xs;
}

.v-btn.btn-dark {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 11.54 * $chat-text-size;
    color: white;
    background-color: black !important;
    border: 1px solid black;
    border-radius: $chat-button-height / 2;
    min-height: 0;
    height: $chat-button-height !important;
    margin-top: $chat-standard-padding-xs;
    margin-bottom: $chat-standard-padding-xs;
}

.join-room {
    .join-enter-room {
        margin-top: 10px;
        padding: 40px;
        border-radius: 18px;
        background: white;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);

        .join-user-info {
            display: flex;
            flex-wrap: nowrap;
            max-width: 500px;
        }

        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            padding: 20px;
        }
    }

    .join-lang {
        text-align: center;
        margin-top: 2%;
        padding: 20px;
        border-radius: 18px;
        background: white;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);

        .active {
            color: $very-very-purple;
            font-weight: bold;
        }

        .inactive {
            color: unset;

            @media #{map-get($display-breakpoints, 'sm-and-up')} {
                &:hover {
                    color: $very-very-purple;
                }
            }
        }

        .language-more {
            border-radius: 18px;
            border: 1px solid black;
            padding: 0px 5px;
            background-color: #FFFFFF;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }

    .join-avatar {
        background-color: #ededed;
        width: 100px !important;
        height: 100px !important;
        margin-bottom: 40px;
    }

    .join-welcome {
        text-transform: uppercase;
        font-size: 12px;
    }

    .join-line {
        border: 1px solid #ECECEC;
    }

    .join-title {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        line-height: 108.5%;
        /* or 43px */
        text-align: center;
        letter-spacing: -0.8px;

        color: #000000;
        overflow-wrap: break-word;
    }

    .join-privacy {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 12 * $chat-text-size;
        color: #464646;
        margin-top: 20px;
        margin-bottom: 20px;
        a {
            color: #464646;
        }
    }

    .join-or-divider {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        height: 20px;
        color: #666666;
        text-align: center;
        line-height: var(--v-theme-title-featured-line-height);
        position: relative;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 9.88014 * $chat-text-size;
        line-height: 140%;
        /* identical to box height, or 14px */
        letter-spacing: 0.29px;
        color: #9C9CAE;

        &::before {
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            top: 5px;
            height: 1px;
            background: #9C9CAE;
            content: " ";
        }
    }

    @media #{map-get($display-breakpoints, 'sm-and-down')} {
        margin: 10px;
    }
}
